<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sashavarlamov.shubershop" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CDecisionView"
            android:label="@string/title_activity_cdecision_view"
            android:parentActivityName=".LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sashavarlamov.shubershop.LoginActivity" />
        </activity>
        <activity
            android:name=".ListViewActivity"
            android:label="@string/title_activity_list_view" >
        </activity>
        <activity
            android:name=".NewListActivity"
            android:label="@string/title_activity_new_list"
            android:parentActivityName=".ListViewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sashavarlamov.shubershop.ListViewActivity" />
        </activity>
        <activity
            android:name=".AddItemActivity"
            android:label="@string/title_activity_add_item"
            android:parentActivityName=".ListViewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sashavarlamov.shubershop.ListViewActivity" />
        </activity>
        <activity
            android:name=".InspectItemActivity"
            android:label="@string/title_activity_inspect_item"
            android:parentActivityName=".ListViewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sashavarlamov.shubershop.ListViewActivity" />
        </activity>
        <activity
            android:name=".IndexOffersActivity"
            android:label="@string/title_activity_index_offers"
            android:parentActivityName=".ListViewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sashavarlamov.shubershop.ListViewActivity" />
        </activity>
        <activity
            android:name=".SDecisionView"
            android:label="@string/title_activity_sdecision_view"
            android:parentActivityName=".LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sashavarlamov.shubershop.LoginActivity" />
        </activity>
        <activity
            android:name=".InspectOffer"
            android:label="@string/title_activity_inspect_offer"
            android:parentActivityName=".IndexOffersActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sashavarlamov.shubershop.IndexOffersActivity" />
        </activity>
    </application>

</manifest>
